.user-setting{
    background-color: #F8F8F8;
    padding-bottom: 320px;
}
.user-setting .avatar{
    width: 120px;
    height: 120px;
    border-radius: 200px;
}
.user-setting fa-panel{
    margin-bottom: 20px;
    display: block;
}