fa-panel{margin-bottom: 20px;display: block}
.choice-wechat-address{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.choice-wechat-address text{
    font-size: 28px;
    color:#527fc9;
}
.choice-wechat-address image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}