.user-setting-userinfo{
    background-color: #F8F8F8;
    padding-bottom: 320px;
}
.user-setting-userinfo .avatar{
    width: 60px;
    height: 60px;
    border-radius: 200px;
}
.user-setting-userinfo fa-panel{
    margin-bottom: 20px;
    display: block;
}