page{
    background-color: #F8F8F8;
}
.cart {
    padding-bottom: 120px;
}
.cart-empty{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cart-empty image{
    display: block;
    overflow: hidden;
    width: 244px;
    height: 244px;
}
.cart-empty text{
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 28px;
    color: #999999;
}

.unlogin{
    width: 100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.unlogin image{
    display: block;
    overflow: hidden;
    width: 244px;
    height: 244px;
}
.unlogin text{
    display: block;
    overflow: hidden;
    text-align: center;
    font-size: 28px;
    color: #999999;
    margin-bottom: 40px;
}

.cart section {

}
.cart section details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #fff;
    padding: 30px 0 0 0;
}

.cart section details .left {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart section details .right {
    flex: 1;
}


.cart footer{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    border-top: 2px solid #F8F8F8;
    z-index: 10;
}
.cart .un-save-mode .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;

}
.cart .un-save-mode .footer .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:30px;
}
.cart .un-save-mode .footer .left .all-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart .un-save-mode .footer .left .all-action>span{
    margin-right: 40px;
    margin-left: 10px;
    font-size: 24px;
    color:#333;
}
.cart .un-save-mode .footer .left>details{
    font-size: 26px;
    color:#999;
    display: flex;
    align-items: center;
}
.cart .un-save-mode .footer .left>details>span{
    font-size: 36px;
    font-weight: bold;
    color: #FF635C;
}

.cart .un-save-mode .right i{
    margin-left: 10px;
    font-size: 20px;
}
.cart .is-save-mode .footer{
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}
.cart .un-save-mode .footer .left{
    display: flex;
    align-items: center;
}
.cart .is-save-mode .footer .left .all-action span{
    margin-right: 40px;
    margin-left: 10px;
    font-size: 24px;
    color:#333;
}
.cart .is-save-mode .footer .left .all-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart .is-save-mode .footer .right{
    display: flex;
    align-items: center;
}
.cart .is-save-mode .footer fa-button:first-child{
    margin-right: 30px;
}
.cart .header{
    display: flex;
    padding: 30px;
    justify-content: flex-end;
}
.cart .edit-save{
    color: #FF635C;
    font-size: 28px;
    line-height: 28px;
    display: block;
}
.cart .save-action-panel{
    margin-bottom: 22px;
    display: block;
}