.page-column-title{display: block;overflow: hidden}
.page-column-title details{
    display: flex;
    height: 100px;
    padding: 0 40px;
    align-items: center;
}
.page-column-title details text{
    font-size: 28px;
    font-weight: bold;
}
.page-column-title details image{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}