.order-button{
    border: 2px solid #cccccc;
    display: inline-block;
    text-align: center;
    font-size: 28px;
    border-radius:6px;
    padding: 10px 30px;
    margin-left: 20px;
}

.order-button.active{
    border:2px solid #ff4400;
    color: #ff4400;
}
.order-button.small{
    padding: 4px 20px;
    font-size: 24px;
}
.order-button-type-danger{
    background-color: #ff4400;
    color: #ffffff;
    border:2px solid #ff4400;
}