.cart-card{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    position: relative;
    border-bottom: 2px solid #F8F8F8;
}
.cart-card>image {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 150px;
    height: 150px;
}

.cart-card .title-price {
    background-color: #fff;
    display: block;
    overflow: hidden;
    padding: 0 30px 20px 20px;
    flex: 1;
    position: relative;
}

.cart-card .title-price .title {
    color: #333333;
    line-height: 40px;
    margin-bottom: 12px;
    font-size: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
}
.cart-card .title-price .spec{
    display: flex;
    justify-content: space-between;
}
.cart-card .title-price .spec.can-sku-select{
    border: 2px solid #EAEAEA;
    border-radius: 6px;
    align-items: center;
    padding: 10px;
}
.cart-card .title-price .spec text {
    color: #999;
    line-height: 22px;
    height: 22px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cart-card .title-price .spec image {
    width: 12px;
    height: 12px;
}
.cart-card .title-price .footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-card .title-price .price {
    line-height: 28px;
    height: 28px;
    color: #FF635C;
    font-size: 28px;
    font-weight: bold;
}
.cart-card fa-stepper {

}


.cart-card .one-item {
    display: flex;
    justify-content: flex-start;
}

.cart-card .one-item image {
    width: 150px;
    height: 150px;
    display: block;
    margin-right: 20px;
}

.cart-card .one-item .body {

}

.cart-card .one-item .body .title {
    font-size: 28px;
    color: #333;
    line-height: 40px;
    font-weight: bold;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
.cart-card .one-item .body .price {
    font-size: 24px;
    color: #333;
    line-height: 24px;
    display: block;
    overflow: hidden;
    font-weight: bold;
}

.cart-card .one-item .body .spec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cart-card .one-item .body .spec text {
    font-size: 24px;
    color: #999;
    line-height: 24px;
    display: block;
    overflow: hidden;
}
