.user-setting-bind-phone{
    background-color: #F8F8F8;
    padding-bottom: 320px;
}
.user-setting-bind-phone .smscode{
    display: flex;
    align-items: center;
}
.user-setting-bind-phone .smscode input{
    margin-right: 20px;
}

.user-setting-bind-phone fa-panel{
    margin-bottom: 20px;
    display: block;
}
.user-setting-bind-phone .footer{
    padding: 30px;
    font-size: 24px;
    color: #999999;
}
.user-setting-bind-phone .footer text{
    display: block;
    text-align: center;
}